body {

  background: #d2d2c1 url("imagens/fundo.png");
  font: 16px arial, helvetica, sans-serif;


}

.navbar {
  background-color: #d2d2c1;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 10px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px;
}

.navbar a:hover {
  background-color: #555;
}

.conteudo {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;

}

.centralize {
  text-align: center;
}

.imagem-centralizada {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}





